{% load compressed %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block full-title %}{% block title %}{% endblock %} &ndash; PROJECT{% endblock %}</title>
    <meta name="viewport" content="{% block meta-viewport %}width=device-width, initial-scale=1.0{% endblock %}">
    <meta name="description"content="{% block meta-description %}{% endblock %}">
    <meta name="author" content="{% block meta-author %}{% endblock %}">
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
    {% block meta-extra %}{% endblock %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}vendor/bootstrap/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}vendor/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}vendor/bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}vendor/bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}vendor/bootstrap/ico/apple-touch-icon-57-precomposed.png">
    {% compressed_css 'master' %}
    {% block css-extra %}{% endblock %}
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">PROJECT</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      {% block messages %}
        {% if messages %}
        <div id="messages" class="alert alert-block">
          <button class="close" data-dismiss="alert">×</button>
          <ul>
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      {% endblock %}
      {% block content %}{% endblock %}
    </div>
    {% compressed_js 'master' %}
    {% block js-extra %}{% endblock %}
  </body>
</html>
